.main{
    display: flex;
    flex-direction: row;
    width:100%;
}

.content{
    background-color: #e5e5e5;
    flex:5;
}
.form-box{
margin:40px 30px;
}
.box-heading{
    background: #1976d2;
    color: #fff;
    padding: 10px 10px;
    border-top-left-radius: 5px;
   border-top-right-radius: 5px;
    font-weight: 600;
}